hr {
  border: 1px solid lavender;
}

.QueriedLyrics {
  width: 60%;
  height: calc(70% + 30px);
  position: absolute;
  overflow: auto;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: calc(4% + 30px);
}

.QueriedLyrics-mobile {
  width: 80%;
  height: calc(70% + 30px);
  position: absolute;
  overflow: auto;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: calc(10% + 24px);
  height: calc(76% + 24px);
}
